--- 
layout: default 
---

<h1>{{site.title}}</h1>

<ul class='menu-root'>

    {% for card in site.data.api %}
    <li style="background-color: #{{ card.color }}">
        <a class='section-link active' data-scroll=''>
            <h2>{{card.title}}</h2>
            <p>{{card.sub-title}}</p>
        </a>
        <ul class='menu-sub'>
            {% for item in card.items %}
            <li>
                <a class='section-link' data-scroll='' href='{{item.url}}' target="_new">
                    <h2>{{item.title}}</h2>
                    <h3>{{item.op}}</h3>
                    {% for example in item.examples %}
                        <p class="input">@> {{example.input}}</p>
                        <p class="output">{{example.output}}</p>
                    {% endfor %}
                    {% if item.tag %}
                    <var>
                        {{item.tag}}
                    </var>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>